* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

.card-container {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid grey;
}

.slika {
    height: 200px;
    width: 100%;
    background-color: white;
}

.dvadugmeta {
    height: 50px;
    width: 100%;
    background-color: white;
}

.dugme {
    border-radius: 15px;
    background-color: azure;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 50px;
    border: 1px solid grey;
    color: grey;
}

.dugmee {
    border-radius: 15px;
    background-color: azure;
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    width: 50px;
    border: 1px solid grey;
    color: grey;
}

.naslov {
    height: 50px;
    width: 100%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lago {
    margin-left: 8px;
}

.tekst {
    height: 130px;
    width: 100%;
    background-color: white;
}

.text {
    margin-left: 8px;
}

.plavo {
    height: 70px;
    width: 100%;
    background-color: white;
}

.jedno {
    height: 50px;
    width: 200px;
    background-color: rgb(116, 205, 223);
    border-radius: 30px;
    border: 1px solid grey;
    color: lightseagreen;
}