body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 200px;
    width: 200px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.test {
    height: 50px;
    width: 50px;
    background-color: black;
}